
// Import Upbase
@import "upbase/scss/upbase";

// Project styles go here

//Variables

//Colors
$blue: #003DFF;
$periwinkle: #EEF1FA;
$periwinkle-darker: #C6D3FE;
$yellow: #FEEE01;

//Breakpoints

$bp-lg: 1000px;
$bp-md: 700px;
$bp-sm: 500px;

body {
	margin: 0;
	color: $blue;
}

h1 {
	font-family: 'Work Sans', sans-serif;
	font-size: 16pt;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.25;

    @include mq($bp-lg) {
        font-size: 18pt;
    }
}

h2 {
	font-family: 'Work Sans', sans-serif;
	font-size: 16pt;
    font-weight: 700;
    line-height: 1.25;
}

h3 {
	font-family: 'Work Sans', sans-serif;
	font-size: 14pt;
    font-weight: 700;
    line-height: 1.25;	
}

h4 {
	margin: 0 auto;
	width: 100px;
    padding-bottom: 5pt;
	font-family: 'Inconsolata';
    font-weight: 700;
    font-size: 18pt;
    text-align: center;
    border-bottom: 2pt solid $yellow;
}

p {
	font-family: 'Work Sans', sans-serif;
	font-size: 14pt;
    font-weight: 400;
    line-height: 1.25;	
}

.block__1, .block__3 {
	display: inline-block;
    width: 100%;
    background-color: $periwinkle;
}

.block__1__content {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	background-image: url("/static/img/phone_screen_dashboard.png");
	background-repeat: no-repeat;
    background-position: 90% 50px;
    background-size: 30%;
}

.block__1__intro {
	float: left;
    width: 45%;
	max-width: 380px;
    margin: 50px 0 0 8%;

    @include mq($bp-lg) {
        margin: 50px 0 0 11%;
    }
}

.logo {
    width: 100%;
}

.block__1__intro__p {
    margin: 40px 0;

    @include mq($bp-lg) {
        margin: 50px 0;
    }
}

.email-signup {
    width: 45%;
	max-width: 380px;
	margin-left: 8%;

    @include mq($bp-lg) {
        margin-left: 11%;
    }
}

.email-signup__input {
	width: 88%;
    max-width: 340px;
    height: 50px;
    border: 2pt solid $blue;
    padding: 0 20px;
    font-family: 'Inconsolata';
    font-size: 14pt;
    color: $blue;
    transition: .1s ease-in-out;

    &:hover {
    	background-color: $periwinkle;
    }

    &:focus {
    	outline: none;
    	background-color: $periwinkle-darker;
    }
}

.email-signup__button {
	width: 58%;
    height: 50px;
    margin: 20px 21% 50px;
    border-radius: 25px;
    border: 2pt solid $blue;
    color: $blue;
    background-color: $yellow;
    font-family: 'Inconsolata';
    font-weight: 700;
    font-size: 12pt;
    text-transform: uppercase;
    letter-spacing: 1pt;
    box-shadow: 0 3px 0 $periwinkle-darker;
    transition: .05s linear;
    cursor: pointer;

    @include mq($bp-lg) {
        margin: 20px 21% 100px;
        font-size: 14pt;
    }

    &:hover {
    	transform: translateY(1px);
    	box-shadow: 0 2px 0 $periwinkle-darker;
    }

    &:focus {
    	outline: none;
    	transform: translateY(2px);
    	box-shadow: none;
    }
}

.block__2 {
	padding: 60px 0;
	border-top: 2pt solid $blue;
	border-bottom: 2pt solid $blue;
}

.block__2__content {
	width: 84%;
	max-width: 1000px;
	margin: 0 auto;

    @include mq($bp-lg) {
        width: 60%;
    }
}

.block__3 {
	padding: 100px 0;
}

.block__3__content {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
    position: relative;
    z-index: 0;
}

.card {
	width: 40%;
    max-width: 420px;
    background-color: white;
    border: 2pt solid #003DFF;
    padding: 15px;
    float: right;
    clear: both;
    margin: 0 8% 0 0;
    position: relative;

    @include mq($bp-lg) {
      margin: 40px 11% 0 0;
      padding: 20px;  
    }

    &:last-of-type {
        margin-top: 30px; 

        @include mq($bp-lg) {
            margin-top: 50px;
        }
    }

    &::before {
    display: block;
    position: absolute;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    border: 2pt solid $blue;
    transform: translate(-5px, -5px);
 }
}

.phone-screenshot {
	margin-left: 8%;
    width: 30%;
    max-width: 300px;

    @include mq($bp-lg) {
        margin-left: 11%;
    }
}

.block__footer {
    background-color: $blue;
    width: 100%;
}

.block__footer__content {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-around;
}

.block__footer__item {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    opacity: 0.6;
    transition: .1s ease-in-out;

    &:hover {
        opacity: 1;
    }

    &.copyright {
        &:hover { opacity: 0.6; }
    }

    > p {
        font-weight: 300;
        display: inline-block;
        font-size: 12pt;
    }

    > img {
        display: inline-block;
        margin-left: 10px;
    }

    > a {
        @extend p;
        color: white;
        text-decoration: none;
        font-size: 12pt;
    }
}